

/*FONTS*/
// font-family: 'Roboto', sans-serif;
$title-font: 'Roboto', sans-serif;

/*FONTS SIZE*/

$title-font-size: 20px;

/*COLORS*/

$main-color: #000000;
$secondary-color: #BC3B69;

/*MEDIA QUERIES*/

