
#movie-not-found {
    display: none;
    width: 100%;
    height: calc(100vh - 75px);
    background-image: url(../../img/yodaPop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;  
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .filter-movie-not-found {
        background: hsla(0,0%,97%,.7);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .search-not-found {
        width: 100%;
        padding: 0 40px 40px 0;
        text-align: center;

        .not-found-title {
            font-size: 28px;
            font-weight: 500;
            color: #081c24;
            position: relative;
            margin: 0;
        }
    }
}


